<!-- Footer -->
<footer>
    <!-- Copyright -->
    <div class="text-center py-3">
      <a class="text-decoration-none" href="/"> Chinese Cuisine By Ferran Ortega</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->