<% layout('./layouts/boilerplate') -%>
<%- include('./partials/notifications') %> 
<div class="content">
    <div id="left-div"></div>
    <div id="right-div">
        <div class="info">
            <div id="profile-image"></div>
            <p>I am currently working as a M365 Technician and my role on my last jobs always were as IT Technician. Lately my interest on the web development has been increasing, so I studied hard these months to learn web development and perhaps one day become a real web developer!</p>
            <p>You can check the code of this project on github and if you are interested on me, I give you my linkedin here too :)</p>
            <p>Any suggestions or improvement you think I could do on this project, do not hesitate on tell me, I will be glad to hear.</p>
        </div>
        <div class="social-media">
            <div id="heart"></div>
            <a id="linkedin" href="https://www.linkedin.com/in/ferran-ortega-torrabadell-271313133/"></a>
            <div id="github"></div>
        </div>
    </div>    
</div>