<% layout('./layouts/boilerplate') -%>
<div id='wrapper'>
    <h1>Chinese Cuisine</h1>
    <p>Take a look to some typical Chinese dishes. You can click on the below button to see all the dishes or click on the Dishes link located on the top bar navigation.</p>
    <a class="a-button" href="/dishes/chinesedishes">Dishes</a>
    <p>To know more about me, please go to the About section.</p>
</div>
